In [2]:
import pandas as pd

### Method 1

In [4]:
Team = ['LAC', 'LAL', 'UTA', 'PHX', 'GSW', 'POR', 'MEM', 'SAS', 'DAL', 'DEN', 'OKC', 'NOR', 'SAC', 'HOU', 'MIN']
W = [40, 35, 45, 41, 29, 32, 29, 28, 30, 37, 20, 25, 23, 15, 15]
L = [19, 23, 15, 16, 29, 24, 27, 28, 26, 20, 38, 32, 34, 43, 43]
nba_df = pd.DataFrame({'Team': Team}, {'W': W}, {'L': L})
nba_df

     L
W  NaN

### Method 2

In [5]:
lac = ['LAC', 40, 19]
lal = ['LAL', 35, 23]
uta = ['UTA', 45, 15]
phx = ['PHX', 41, 16]
gsw = ['GSW', 29, 29]
por = ['POR', 32, 24]
mem = ['MEM', 29, 27]
sas = ['SAS', 28, 28]
dal = ['DAL', 30, 26]
den = ['DEN', 37, 20]
okc = ['OKC', 20, 38]
nor = ['NOR', 25, 32]
sac = ['SAC', 23, 34]
hou = ['HOU', 15, 43]
minn = ['MIN',15, 43]

In [ ]:
# nba_df2 = pd.DataFrame({'Team': Team}, {'W': W}, {'L': L})

### Method 3

In [6]:
from pydataset import data
color_df = data('HairEyeColor')

In [7]:
color_df.head()

    Hair    Eye   Sex  Freq
1  Black  Brown  Male    32
2  Brown  Brown  Male    53
3    Red  Brown  Male    10
4  Blond  Brown  Male     3
5  Black   Blue  Male    11

### df from Excel

In [ ]:
# my_df = pd.read_excel('my_excel_file')

In [10]:
pd.read_excel() # Shift Tab - Shift Tab will bring up documentation

Object `pd.read_excel()` not found.

### Object Types