### Exercises Part I
Make a file named pandas_series.py or pandas_series.ipynb for the following exercises.

Use pandas to create a Series named fruits from the following list:

```python
    ["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]
```
    
Use Series attributes and methods to explore your fruits Series.

In [185]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from collections import Counter as cn

In [83]:
list_of_fruits = ["kiwi", "mango", "strawberry", "pineapple", 
                    "gala apple", "honeycrisp apple", "tomato", "watermelon",
                    "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", 
                    "blackberry", "gooseberry", "papaya"]
print(type(list_of_fruits))
list_of_fruits

<class 'list'>

['kiwi',
 'mango',
 'strawberry',
 'pineapple',
 'gala apple',
 'honeycrisp apple',
 'tomato',
 'watermelon',
 'honeydew',
 'kiwi',
 'kiwi',
 'kiwi',
 'mango',
 'blueberry',
 'blackberry',
 'gooseberry',
 'papaya']

In [27]:
fruits = pd.Series(["kiwi", "mango", "strawberry", "pineapple", 
                    "gala apple", "honeycrisp apple", "tomato", "watermelon",
                    "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", 
                    "blackberry", "gooseberry", "papaya"])
print(type(fruits))
fruits

<class 'pandas.core.series.Series'>

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

1. Determine the number of elements in fruits.

In [85]:
fruits.size

17

2. Output only the index from fruits.

In [40]:
fruits.index

RangeIndex(start=0, stop=17, step=1)

In [86]:
for i in range(0,17):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16

In [89]:
list(fruits.index)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

3. Output only the values from fruits.

In [90]:
list(fruits.values) #remove dtype by listing

['kiwi',
 'mango',
 'strawberry',
 'pineapple',
 'gala apple',
 'honeycrisp apple',
 'tomato',
 'watermelon',
 'honeydew',
 'kiwi',
 'kiwi',
 'kiwi',
 'mango',
 'blueberry',
 'blackberry',
 'gooseberry',
 'papaya']

4. Confirm the data type of the values in fruits.

In [92]:
fruits.dtypes

dtype('O')

In [94]:
type(fruits.values) # this is the type of fruits.values as an array and NOT the dtype of the values themselves

numpy.ndarray

5. Output only the first five values from fruits. Output the last three values. Output two random values from fruits.

In [56]:
print('HEAD(5)-------')
print(fruits.head(5))
print()
print('TAIL(3)-------')
print(fruits.tail(3))
print()
print('SAMPLE(2)-------')
print(fruits.sample(2))

HEAD(5)-------
0          kiwi
1         mango
2    strawberry
3     pineapple
4    gala apple
dtype: object

TAIL(3)-------
14    blackberry
15    gooseberry
16        papaya
dtype: object

SAMPLE(2)-------
13    blueberry
16       papaya
dtype: object

6. Run the .describe() on fruits to see what information it returns when called on a Series with string values.

In [57]:
fruits.describe()

count       17
unique      13
top       kiwi
freq         4
dtype: object

7. Run the code necessary to produce only the unique string values from fruits.

In [58]:
fruits.unique()

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew',
       'blueberry', 'blackberry', 'gooseberry', 'papaya'], dtype=object)

In [96]:
set(fruits.values)

{'blackberry',
 'blueberry',
 'gala apple',
 'gooseberry',
 'honeycrisp apple',
 'honeydew',
 'kiwi',
 'mango',
 'papaya',
 'pineapple',
 'strawberry',
 'tomato',
 'watermelon'}

8. Determine how many times each unique string value occurs in fruits.

In [97]:
fruits.nunique()

13

In [100]:
fruits.value_counts()

kiwi                4
mango               2
strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64

In [82]:
print(cn(fruits).keys()) # equals to list(set(words))
print(cn(fruits).values()) # counts the elements' frequency

dict_keys(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple', 'honeycrisp apple', 'tomato', 'watermelon', 'honeydew', 'blueberry', 'blackberry', 'gooseberry', 'papaya'])
dict_values([4, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1])

9. Determine the string value that occurs most frequently in fruits.

In [101]:
fruits.value_counts().head(1)

kiwi    4
dtype: int64

10. Determine the string value that occurs least frequently in fruits.

In [114]:
fruits.value_counts().nsmallest(n=1, keep='all')

strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64

In [106]:
fruits.value_counts().tail(11)

strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64

### Exercises Part II

Explore more attributes and methods while you continue to work with the fruits Series.

1. Capitalize all the string values in fruits.

In [188]:
fruits.str.capitalize()

0                 Kiwi
1                Mango
2           Strawberry
3            Pineapple
4           Gala apple
5     Honeycrisp apple
6               Tomato
7           Watermelon
8             Honeydew
9                 Kiwi
10                Kiwi
11                Kiwi
12               Mango
13           Blueberry
14          Blackberry
15          Gooseberry
16              Papaya
dtype: object

2. Count the letter "a" in all the string values (use string vectorization).

In [123]:
fruits.str.count('a') #.head(5)

0     0
1     1
2     1
3     1
4     3
5     1
6     1
7     1
8     0
9     0
10    0
11    0
12    1
13    0
14    1
15    0
16    3
dtype: int64

In [122]:
fruits.apply(lambda x: x + ' count of a: ' + str(x.count('a')))

0                 kiwi count of a: 0
1                mango count of a: 1
2           strawberry count of a: 1
3            pineapple count of a: 1
4           gala apple count of a: 3
5     honeycrisp apple count of a: 1
6               tomato count of a: 1
7           watermelon count of a: 1
8             honeydew count of a: 0
9                 kiwi count of a: 0
10                kiwi count of a: 0
11                kiwi count of a: 0
12               mango count of a: 1
13           blueberry count of a: 0
14          blackberry count of a: 1
15          gooseberry count of a: 0
16              papaya count of a: 3
dtype: object

3. Output the number of vowels in each and every string value.

In [196]:
word = 'supercalifragilisticexpialidocious'

In [197]:
vowels = ['a', 'e', 'i', 'o', 'u', 'y']
vowel_count = 0
for letter in word.lower():
    if letter in vowels:
        vowel_count += 1
        
vowel_count

16

In [198]:
len([letter for letter in word.lower() if letter in ['a', 'e', 'i', 'o', 'u']])

16

In [200]:
def count_vowels(word):
    return len([letter for letter in word.lower() if letter in ['a', 'e', 'i', 'o', 'u']])

In [202]:
count_vowels('supercalifragilisticexpialidocious')

16

In [211]:
fruits.apply(count_vowels)

0     2
1     2
2     2
3     4
4     4
5     5
6     3
7     4
8     3
9     2
10    2
11    2
12    2
13    3
14    2
15    4
16    3
dtype: int64

In [217]:
# fruits.apply(lambda x: x + ' count of vowels: ' + str(x.count(count_vowels)))

4. Write the code to get the longest string value from fruits.

In [139]:
fruits.str.len()

0      4
1      5
2     10
3      9
4     10
5     16
6      6
7     10
8      8
9      4
10     4
11     4
12     5
13     9
14    10
15    10
16     6
dtype: int64

In [140]:
fruits.str.len().max()

16

In [141]:
fruits.str.len() == fruits.str.len().max()

0     False
1     False
2     False
3     False
4     False
5      True
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
dtype: bool

In [218]:
bool_mask = fruits.str.len() == fruits.str.len().max()
print(f'{list(fruits[bool_mask])} has the longest str with {fruits.str.len().max()} letters')

['honeycrisp apple'] has the longest str with 16 letters

5. Write the code to get the string values with 5 or more letters in the name.

In [146]:
fruits[fruits.str.len() >= 5]

1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

6. Find the fruit(s) containing the letter "o" two or more times.

In [148]:
fruits[fruits.str.count('o') >= 2]
#fruits[fruits.str.lower().str.count('o') >= 2]

6         tomato
15    gooseberry
dtype: object

7. Write the code to get only the string values containing the substring "berry".

In [152]:
fruits[fruits.apply(lambda x: 'berry' in x)]

2     strawberry
13     blueberry
14    blackberry
15    gooseberry
dtype: object

In [154]:
fruits[fruits.str.contains('berry')]

2     strawberry
13     blueberry
14    blackberry
15    gooseberry
dtype: object

8. Write the code to get only the string values containing the substring "apple".

In [158]:
#bool_mask = fruits.str.contains('apple')
#fruits[bool_mask]
fruits[fruits.str.contains('apple')]

3           pineapple
4          gala apple
5    honeycrisp apple
dtype: object

9. Which string value contains the most vowels?

In [246]:
fruits.apply(count_vowels)

0     2
1     2
2     2
3     4
4     4
5     5
6     3
7     4
8     3
9     2
10    2
11    2
12    2
13    3
14    2
15    4
16    3
dtype: int64

In [247]:
fruits.apply(count_vowels).max()

5

In [252]:
max_vowels_mask = fruits.apply(count_vowels) == fruits.apply(count_vowels).max()
print(f'{list(fruits[max_vowels_mask == True])} contains the most vowels with a count of: {fruits.apply(count_vowels).max()}')

['honeycrisp apple'] contains the most vowels with a count of: 5

### Exercises Part III

Use pandas to create a Series named letters from the following string. The easiest way to make this string into a Pandas series is to use list to convert each individual letter into a single string on a basic Python list.
    
'hnvidduckkqxwymbimkccexbkmqygkxoyndmcxnwqarhyffsjpsrabtjzsypmzadfavyrnndndvswreauxovncxtwzpwejilzjrmmbbgbyxv
jtewqthafnbkqplarokkyydtubbmnexoypulzwfhqvckdpqtpoppzqrmcvhhpwgjwupgzhiofohawytlsiyecuproguy'

In [253]:
letters = ('hnvidduckkqxwymbimkccexbkmqygkxoyndmcxnwqarhyffsjpsrabtjzsypmzadfavyrnndndvswreauxovncxtwzpwejilzjrmmbbgbyxvjtewqthafnbkqplarokkyydtubbmnexoypulzwfhqvckdpqtpoppzqrmcvhhpwgjwupgzhiofohawytlsiyecuproguy')
letters = pd.Series(list(letters))
letters

0      h
1      n
2      v
3      i
4      d
      ..
195    r
196    o
197    g
198    u
199    y
Length: 200, dtype: object

1. Which letter occurs the most frequently in the letters Series?

In [259]:
most_freq_letter = letters.count() == letters.count().max()

list[True]

2. Which letter occurs the Least frequently?

3. How many vowels are in the Series?

4. How many consonants are in the Series?

5. Create a Series that has all of the same letters but uppercased.

6. Create a bar plot of the frequencies of the 6 most commonly occuring letters.

### Use pandas to create a Series named numbers from the following list:

    ['$796,459.41', '$278.60', '$482,571.67', '$4,503,915.98', '$2,121,418.3', '$1,260,813.3', '$87,231.01', '$1,509,175.45', '$4,138,548.00', '$2,848,913.80', '$594,715.39', '$4,789,988.17', '$4,513,644.5', '$3,191,059.97', '$1,758,712.24', '$4,338,283.54', '$4,738,303.38', '$2,791,759.67', '$769,681.94', '$452,650.23']

In [169]:
numbers = ['$796,459.41', '$278.60', '$482,571.67', '$4,503,915.98', '$2,121,418.3', '$1,260,813.3', '$87,231.01', '$1,509,175.45', '$4,138,548.00', '$2,848,913.80', '$594,715.39', '$4,789,988.17', '$4,513,644.5', '$3,191,059.97', '$1,758,712.24', '$4,338,283.54', '$4,738,303.38', '$2,791,759.67', '$769,681.94', '$452,650.23']
numbers = pd.Series(numbers)
numbers

0       $796,459.41
1           $278.60
2       $482,571.67
3     $4,503,915.98
4      $2,121,418.3
5      $1,260,813.3
6        $87,231.01
7     $1,509,175.45
8     $4,138,548.00
9     $2,848,913.80
10      $594,715.39
11    $4,789,988.17
12     $4,513,644.5
13    $3,191,059.97
14    $1,758,712.24
15    $4,338,283.54
16    $4,738,303.38
17    $2,791,759.67
18      $769,681.94
19      $452,650.23
dtype: object

1. What is the data type of the numbers Series?

In [172]:
type(numbers)

pandas.core.series.Series

2. How many elements are in the number Series?

In [171]:
numbers.size

20

3. Perform the necessary manipulations by accessing Series attributes and methods to convert the numbers Series to a numeric data type.

In [184]:
numbers = numbers.str.replace('$', '').str.replace(',','').astype('float')

AttributeError: Can only use .str accessor with string values!

In [180]:
numbers.dtype

dtype('O')

4. Run the code to discover the maximum value from the Series.

In [173]:
numbers.max()

'$87,231.01'

5. Run the code to discover the minimum value from the Series.

In [177]:
numbers.min()

'$1,260,813.3'

6. What is the range of the values in the Series?

In [179]:
numbers.max() - numbers.min()

TypeError: unsupported operand type(s) for -: 'str' and 'str'

7. Bin the data into 4 equally sized intervals or bins and output how many values fall into each bin.

In [176]:
pd.cut(numbers, 4).value_counts().sort_index()

TypeError: can only concatenate str (not "float") to str

8. Plot the binned data in a meaningful way. Be sure to include a title and axis labels.

### Use pandas to create a Series named exam_scores from the following list:

    [60, 86, 75, 62, 93, 71, 60, 83, 95, 78, 65, 72, 69, 81, 96, 80, 85, 92, 82, 78]

1. How many elements are in the exam_scores Series?

2. Run the code to discover the minimum, the maximum, the mean, and the median scores for the exam_scores Series.

3. Plot the Series in a meaningful way and make sure your chart has a title and axis labels.

4. Write the code necessary to implement a curve for your exam_grades Series and save this as curved_grades. Add the necessary points to the highest grade to make it 100, and add the same number of points to every other score in the Series as well.

5. Use a method to convert each of the numeric values in the curved_grades Series into a categorical value of letter grades. For example, 86 should be a 'B' and 95 should be an 'A'. Save this as a Series named letter_grades.

6. Plot your new categorical letter_grades Series in a meaninful way and include a title and axis labels.

### More Practice
Revisit the exercises from https://gist.github.com/ryanorsinger/f7d7c1dd6a328730c04f3dc5c5c69f3a.

After you complete each set of Series exercises, use any extra time you have to pursue the challenge below. You can work on these in the same notebook or file as the Series exercises or create a new practice notebook you can work in a little every day to keep your python and pandas skills sharp by trying to solve problems in multiple ways. These are not a part of the Series exercises grade, so don't worry if it takes you days or weeks to meet the challenge.

### Challenge yourself to be able to...

* solve each using vanilla python.

* solve each using list comprehensions.

* solve each by using a pandas Series for the data structure instead of lists and using vectorized operations instead of loops and list comprehensions.